################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Task2/arkpz-pzpi-22-6-Biletskyi-Danylo-task2/MediStoS/.vs
/Task2/arkpz-pzpi-22-6-Biletskyi-Danylo-task2/MediStoS/bin/Debug/net9.0
/Task2/arkpz-pzpi-22-6-Biletskyi-Danylo-task2/MediStoS/obj/Debug/net9.0
/Task2/arkpz-pzpi-22-6-Biletskyi-Danylo-task2/MediStoS/obj/Release/net9.0
/Task2/arkpz-pzpi-22-6-Biletskyi-Danylo-task2/MediStoS/obj
/Task3/arkpz-pzpi-22-6-biletskyi-danylo-task3/MediStoS/.vs/MediStoS/config
/Task3/arkpz-pzpi-22-6-biletskyi-danylo-task3/MediStoS/.vs/MediStoS/DesignTimeBuild
/Task3/arkpz-pzpi-22-6-biletskyi-danylo-task3/MediStoS/.vs
/Task3/arkpz-pzpi-22-6-biletskyi-danylo-task3/MediStoS/bin/Debug/net9.0
/Task3/arkpz-pzpi-22-6-biletskyi-danylo-task3/MediStoS/obj
*.json
/Task4/arkpz-pzpi-22-6-biletskyi-danylo-task4/IoT/IotSensors/.vs
/Task4/arkpz-pzpi-22-6-biletskyi-danylo-task4/IoT/IotSensors/out/build/x86-debug
/Task4/arkpz-pzpi-22-6-biletskyi-danylo-task4/MediStoS/.vs
/Task4/arkpz-pzpi-22-6-biletskyi-danylo-task4/MediStoS/bin/Debug/net9.0
/Task4/arkpz-pzpi-22-6-biletskyi-danylo-task4/MediStoS/obj
/Task4/arkpz-pzpi-22-6-biletskyi-danylo-task4/IoT/IotSensors/out/build/x64-debug
/Task4/arkpz-pzpi-22-6-biletskyi-danylo-task4/IoT/.vs
